.c-client {
  @include clearfix();
  overflow: hidden;
  min-height: 300px;
  margin: 0 0 40px;
  background-color: palette(white, normal);
  background-image: url($dist_path+'icons/client-one-bg.svg');
  background-repeat: repeat-y;
  background-position: center top;

  img {
    max-height: 90px;
    width: auto;
    margin-bottom: 15px;
  }

  &:nth-child(2n) {
    background-image: url($dist_path+'icons/client-two-bg.svg');
  }

  &:nth-child(3n) {
    background-image: url($dist_path+'icons/client-three-bg.svg');
  }

  .e-heading--2 {
    line-height: 28px;
    margin-bottom: 12px;
  }

  p{
    margin: 0 0 3px;
    line-height: 21px;
  }

  .c-quote__quote {
    color: palette(white,normal);
    font-size: 20px;
    line-height: 24px;
  }

  .c-quote__from {
    color: palette(white,normal);
    font-size: 18px;
    display: inline-block;

    &:after {
      background-color: palette(white,normal);
    }
  }

  .c-quote__function {
    display: inline-block;
    color: palette(white,normal);
    font-size: 15px;
  }

  .l-col-6 {
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .l-col-6:first-child {
    padding-left: 30px;
  }

  .l-col-6:nth-child(2) {
    padding-right: 30px;
    padding-left: 130px;
  }

  .inner {
    position: relative;
    z-index: 2;
  }
}

@media screen and (max-width: 1222px) {
  .c-client {
    height: auto;
    // background-size: auto 100%;
    background-position: right top;

    .l-col-6:last-child {
      padding-left: 70px;
    }
  }
}


@media screen and (max-width: 1000px) {
  .c-client {
    background-image: none;
    height: auto!important;

    &:nth-child(2n), &:nth-child(3n) {
      background-image: none;
    }

    .l-col-6 {
      width: 100%;
      margin: 0;
      padding: 30px;
    }

    .l-col-6:first-child {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        bottom: 0; left: 0;
        @include triangle(400px, #F7F7F7, down-left);
      }
    }

    .l-col-6:last-child {
      background-color: palette(purple,normal);
      background-image: url($dist_path+'icons/client-mobile.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      padding-left: 30px;
    }
  }
}
