.c-page-navigation {
  padding: 80px 0 60px;

  @include e('list') {
    padding: 0;
    margin: 0;
    list-style: none;
    @include clearfix();

    @include m('item') {
      float: left;
      margin-right: 20px;
      margin-bottom: 20px;

      font-family: $font-bold;
      font-size: 14px;
      line-height: 42px;
      min-width: 42px;
      text-align: center;
      box-sizing: border-box;
      text-transform: uppercase;
      position: relative;
      background-color: palette(grey, xx-light);
      overflow: hidden;
      display: inline-block;

      &:after {
        content: '';
        position: absolute;
        top: 17px; right: -19px;
        z-index: 1;
        transform: rotate(-45deg);
        @include triangle( 58px, palette(grey, x-light), down );
        transition: transform 0.12s, top 0.12s;
        transition-timing-function: ease-in-out;
      }

      &.current {
        background-color: palette(pink, dark);
        color: palette(white, normal);

        &:after {
          @include triangle( 58px, palette(purple, light), down );
        }
      }

      &.next:after, &.prev:after {
        @include triangle( 58px, palette(blue, normal), down );
      }

      &.prev:after {
        top: -4px; right: auto;
        left: -19px;
        transform: rotate(135deg);
      }

      &:hover {
        &:after {
          top: -4px;
          transform: rotate(-135deg);
        }

        &.prev:after {
          transform: rotate(45deg);
          top: 17px;
        }
      }

      span {
        position: relative;
        z-index: 2;
      }

      a {
        position: relative;
        display: block;
        z-index: 2;

        &.next {
          text-align: left;
          padding: 0 45px 0 20px;
        }

        &.prev{
          text-align: left;
          padding: 0 20px 0 45px;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .c-page-navigation {
    .next span, .prev span {
      display: none;
    }
  }
}

@media screen and (max-width: 740px) {
  .c-page-navigation {
    padding: 40px 0 25px;

    @include e('list') {

      @include m('item') {
        margin-right: 15px;
        margin-bottom: 15px;
      }
    }
  }
}
