.c-related {

  @include e('header') {
    padding: 0 0 70px;
  }

  @include e('footer') {
    padding: 40px 0 80px 0;

    .e-button {
      min-width: 250px;
    }
  }
}

@media screen and (min-width: 740px) {
  .c-related .c-post {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 740px) {
  .c-related {
    padding: 40px 0 0;

    @include e('header') {
      padding: 0 0 30px;
    }
  }
}
