.c-rolls {
  padding: 92px 0 80px;
  box-sizing: border-box;
  background-image: url($dist_path+'icons/over-ons-rolls.svg');
  background-repeat: no-repeat;
  background-position: top center;

  &.landing {
    background-image: url($dist_path+'icons/bg-landing-rolls.svg');
    background-color: #F0F0F0;
  }

  .e-heading--1 {
    padding-bottom: 32px;
  }

  .e-heading--3 {
    padding-bottom: 8px;
  }

  .l-col-3 {
    text-align: center;
  }

  .e-paragraph--large {
    max-width: 560px;
  }

  @include e('list') {
    padding-top: 29px;
  }

  @include e('icon') {
    padding: 0 0 12px;
  }
}

@media screen and (max-width: 1000px) {
  .c-rolls {
    padding: 42px 0 0 0;
    height: auto !important;

    .l-col-3 {
      padding-bottom: 40px;
    }
  }
}
