// Font variables dasf

@font-face {
  font-family: 'FuturaStd-Bold';
  src: url('../../fonts/FuturaStd-Bold.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/FuturaStd-Bold.otf')  format('opentype'),
	     url('../../fonts/FuturaStd-Bold.woff') format('woff'),
       url('../../fonts/FuturaStd-Bold.ttf')  format('truetype'),
       url('../../fonts/FuturaStd-Bold.svg#FuturaStd-Bold') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaStd-Book';
  src: url('../../fonts/FuturaStd-Book.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/FuturaStd-Book.otf')  format('opentype'),
	     url('../../fonts/FuturaStd-Book.woff') format('woff'),
       url('../../fonts/FuturaStd-Book.ttf')  format('truetype'),
       url('../../fonts/FuturaStd-Book.svg#FuturaStd-Book') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaStd-Heavy';
  src: url('../../fonts/FuturaStd-Heavy.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/FuturaStd-Heavy.otf')  format('opentype'),
	     url('../../fonts/FuturaStd-Heavy.woff') format('woff'),
       url('../../fonts/FuturaStd-Heavy.ttf')  format('truetype'),
       url('../../fonts/FuturaStd-Heavy.svg#FuturaStd-Heavy') format('svg');
  font-weight: 500;
  font-style: normal;
}

$font-bold: 'FuturaStd-Bold', 'Arial';
$font-regular: 'FuturaStd-Book', 'Arial';
$font-heavy: 'FuturaStd-Heavy', 'Arial';

$font-secondary: 'Arial';

$font-weight--light: 300;
$font-weight--reg: 400;

$font-size--base: 16px;
