// Configuration

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: $font-regular;
  // font-size: $font-size--base;
  color: palette(blue, normal);
}

a {
  text-decoration: none;
  color: palette(blue, normal);
}

strong {
  font-weight: normal;
  font-family: $font-heavy;
}

.clearfix {
  height: 0;
  clear: both;

  &::before,
  &::after {
    content: "";
    display: table;
  }

  &::after {
    clear: both;
  }
}
