.c-rs-puzzle {
  padding: 80px 0;

  @include e('holder') {
    text-align: center;
    padding: 40px 20px;
    float: left;
    width: 100%;
    box-sizing: border-box;

    svg {
      width: 100%;
      height: auto;
    }
  }
}
