.c-contact-maps {
  position: relative;
  width: 100%;
  min-height: 600px;

  .e-heading, .e-paragraph, .e-button {
    position: absolute;
    z-index: 2;
    left: 50%;
    margin-left: -580px;
  }

  .e-heading {
    top: 90px;
  }

  .e-paragraph {
    bottom: 93px;
  }
  .e-button {
    bottom: 40px;
    min-width: 160px;
  }

  #metis_it_map {
    z-index: 1;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 1222px) {
  .c-contact-maps {

    .e-heading, .e-paragraph, .e-button {
      margin-left: -480px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .c-contact-maps {
    min-height: 400px;

    .e-heading, .e-paragraph, .e-button {
      margin-left: -350px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .c-contact-maps {
    min-height: 320px;

    .e-heading, .e-paragraph, .e-button {
      margin-left: 0px;
      left: 20px;
    }
  }
}
