.wpcf7 {
  p {
    margin: 0;
    @include clearfix();
  }

  .e-button {
    input {
      float: left;
      margin: 0;
    }
  }
}

.wpcf7-form-control {
  box-sizing: border-box;
  width: 100%!important;
  float: left;
  font-family: $font-regular;
  border: none;
  background-color: palette(white, normal);
  color: palette(blue, normal);
  font-size: 16px;
  line-height: 42px;
  padding: 0 10px;

  &::placeholder {
    color: palette(grey, normal);
  }

  &.wpcf7-textarea {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 22px;
    max-height: 42px;
  }

  &.wpcf7-select {
    height: 42px;
    border-radius: 0;
  }

  &.wpcf7-submit {
    text-align: left;
    width: 160px!important;

    font-family: $font-bold;
    font-size: 14px;
    line-height: 42px;
    box-sizing: border-box;
    padding: 0 60px 0 20px;
    background: transparent;
    color: palette(white, normal);
    text-transform: uppercase;

    &:hover {
      cursor: pointer;
    }
  }
}

.wpcf7-form-control-wrap {
  float: left;
  width: 100%;
  margin-bottom: 30px;
}

span.wpcf7-not-valid-tip {
  color: palette(pink, normal);
  float: left;
  width: 100%;
  padding-top: 10px;
}

div.wpcf7-response-output {
  margin-left: 0;
  margin-right: 0;
}

div.wpcf7-validation-errors {
  border: none;
  background-color: palette(pink, normal);
  color: palette(white, normal);
  padding: 10px;
}

div.wpcf7-mail-sent-ok {
  border: none;
  background-color: palette(blue, normal);
  color: palette(white, normal);
  padding: 10px;
}
