.e-button {
  font-family: $font-bold;
  font-size: 14px;
  line-height: 42px;
  box-sizing: border-box;
  padding: 0 40px 0 20px;
  text-transform: uppercase;
  position: relative;
  background-color: palette(white, normal);
  overflow: hidden;
  display: inline-block;

  white-space: nowrap;
  overflow: hidden;

  text-decoration: none;

  > span {
    position: relative;
    z-index: 2;
  }

  &.no-pad {
    padding: 0;
  }

  .l-col-3:not(.is_colleague) & {
    width: 100%;
  }

  &:after {
    content: '';
    position: absolute;
    top: 17px; right: -19px;
    z-index: 1;
    transform: rotate(-45deg);
    @include triangle( 58px, palette(blue, normal), down );
    transition: transform 0.12s, top 0.12s;
    transition-timing-function: ease-in-out;
  }

  &:hover {
    &:after {
      top: -4px;
      transform: rotate(-135deg);
    }
  }

  @include e('holder') {
    @include clearfix();

    .e-button {
      float: left;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  /*
  *
  * Button Colors
  *
  */
  @include m('grey') {
    background-color: palette(grey, xx-light);

    &:after {
      @include triangle( 58px, palette(grey, x-light), down );
    }
  }

  @include m('pink') {
    background-color: palette(pink, normal);
    color: palette(white, normal);

    &:after {
      @include triangle( 58px, palette(purple, light), down );
    }
  }

  @include m('blue') {
    background-color: palette(blue, normal);
    color: palette(white, normal);

    &:after {
      @include triangle( 58px, palette(purple, light), down );
    }

    svg g {
      fill: palette(white, normal);
    }
  }

  /*
  *
  * Button Shortcode colors
  *
  */

  &.grijs {
    background-color: palette(grey, xx-light);
    padding-right: 40px;

    &:after {
      @include triangle( 58px, palette(blue, normal), down );
    }
  }

  &.roze {
    background-color: palette(pink, normal);
    color: palette(white, normal);
    padding-right: 40px;

    &:after {
      @include triangle( 58px, palette(purple, light), down );
    }
  }

  &.wit {
    color: palette(blue, normal);
    background-color: palette(white, normal);
    padding-right: 40px;

    &:after {
      @include triangle( 58px, palette(blue, light), down );
    }

    svg g {
      fill: palette(white, normal);
    }
  }

  /*
  *
  * Button Sizes
  *
  */
  @include m('icon') {
    float: left;
    padding: 0;
    width: 40px;
    height: 40px;

    svg {
      position: relative;
      z-index: 2;
    }
  }
}

a.e--icon-button {
  display: block;
  position: relative;
  padding: 0 0 0 26px;
  line-height: 26px;

  svg {
    position: absolute;
    left: -11px;
    top: -8px;
    z-index: 1;
  }

  &.e-icon--blue {
    &:link,
    &:visited {
      color: palette(blue, normal);

      path {
        fill: palette(blue, normal);
      }
    }
    &:hover,
    &:active {
      color: palette(purple, normal);

      path {
        fill: palette(purple, normal);
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .e-button {
    @include e('holder') {
      .e-button {
        margin-right: 15px;
      }
    }
  }
}
