.p-over-ons {
  &.c-page-intro .c-background__holder svg {
    transform: translateY(-120px) translateX(-36%);
  }
}

@media screen and (max-width: 740px) {
  .c-page-section.c-team {
    padding-top: 14px;
  }
}
