.e-logo {
  margin: 0;
  float: left;
  position: relative;

  a, svg {
    float: left;
    height: 105px;
    transform: translateY(-9px) translateX(-12px);
  }

  &:after {
    content: '';
    background-color: palette(blue, normal);
    width: 11px;
    height: 11px;
    position: absolute;
    top: 3px; left: 113.49px;
    transform: rotate(45deg) scale(1);
    transition: transform 0.20s ease-out;
  }

  &:hover:after {
    transform: rotate(135deg) scale(1.2);
  }
}

@media screen and (max-width: 1222px) {
  .e-logo {
    &:after {
      left: 91px;
      width: 9px;
      height: 9px;
      top: 0px;
    }
    svg{
      height: 88px;
    }
  }
}

@media screen and (max-width: 480px) {
  .e-logo {
    &:after {
      left: 65.3px;
      width: 7px;
      height: 7px;
      top: -3px;
    }
    svg{
      height: 68.4px;
    }
  }
}
