.c-roadmap {
  float:left;
  padding: 0 15px;
  margin: 60px 0 0;
  box-sizing: border-box;
  // width: 100%;
  width: 1160px;
  height: 910px;


  @include e('icons') {
    box-sizing: border-box;
    padding-left: 230px;
    padding-bottom: 30px;

    svg {
      &:nth-child(1) {
        padding-right: 63px;
      }
      &:nth-child(2) {
        padding-right: 30px;
      }
    }
  }

  @include e('header') {
    @include clearfix();
    padding: 0 8px;
    margin: 0 0 30px;
  }

  table {
    width: 100%;
    table-layout: fixed;

    td:first-child {
      width: 20%;

      .e-button:after {
        display: none;
      }
    }
  }

  .e-button {
    display: block;
    margin: 0 5px 10px;
    text-transform: none;
    min-height: 70px;
    white-space: normal;
    // line-height: 21px;
    font-family: $font-heavy;
    padding: 12px 15px;
    line-height: 19px;
    // padding-top: 12px;

    &:after {
      top: auto;
      bottom: -4px;
      transition: all 0.12s;
    }

    &:hover:after {
      transform: rotate(-45deg) scale(.8);
      bottom: -6px;
      right: -21px;
    }

    &.col-span-3 {
      width: calc(100% * 3);
    }

    &.paars {
      background-color: palette(white, normal);
      color: palette(purple, normal);

      &:after {
        @include triangle( 58px, palette(purple, normal), down );
      }
    }

    &.pruim {
      background-color: palette(white, normal);
      color: palette(purple, light);

      &:after {
        @include triangle( 58px, palette(purple, light), down );
      }
    }

    &.roze {
      background-color: palette(white, normal);
      color: palette(pink, normal);

      &:after {
        @include triangle( 58px, palette(pink, normal), down );
      }
    }

    &.grijs {
      background-color: palette(white, normal);
      color: palette(purple, normal);

      &:after {
        @include triangle( 58px, palette(grey, light), down );
      }
    }
  }

  @include e('mobile') {
    max-width: 165px;
    display: none;

    @include m('row'){
      height: 74px;
      position: relative;
      transition: height 0.15s ease-out;

      &:nth-child(1){
        z-index: 5;
      }
      &:nth-child(2){
        z-index: 4;
      }
      &:nth-child(3){
        z-index: 3;
      }
      &:nth-child(4){
        z-index: 2;
      }
      &:nth-child(5){
        z-index: 1;
      }

      .e-button {
        display: none;
      }

      &.active {
        height: auto;

        .e-button {
          display: block;
        }
      }

      @include m('header') {
        position: relative;
        z-index: 2;

        .icon {
          position: absolute;
          top: 0;
          left: 175px;

          &.architect {
            top: -10px
          }

          &.lead {
            top: -20px;
          }

          &.engineer {
            top: -40px;
          }

          svg {
            width: 105px;
            height: 39px;
          }
        }
      }

      &:last-child .e-button:nth-child(2) {
        margin-top: 0px;
      }
    }
  }
}

@media screen and (max-width: 1220px) {
  .c-roadmap{
    zoom: 0.83;
    // transform: scale(0.83);
    // transform-origin: left;
  }
  .c-roadmap__header svg {
    width: 1148px;
    height: 110px;
  }
}

@media screen and (max-width: 1000px) {
  .c-roadmap{
    zoom: 0.6;
    // transform: scale(0.6);
  }
}

@media screen and (max-width: 740px) {
  .c-roadmap{
    width: 100%;
    height: auto;
    zoom: 1;
    // transform: scale(1);
  }
  .c-roadmap__header,
  .c-roadmap__desktop,
  .c-roadmap__icons {
    display: none;
  }
  .c-roadmap__mobile {
    display: block;
  }
  .c-roadmap__mobile--row:nth-child(2) .e-button.roze{
    color: palette(purple, normal);

    &:after {
      @include triangle( 58px, palette(purple, normal), down );
    }
  }
  .c-roadmap {

    .e-button {
      margin: 0 0 4px;

      &:nth-child(2) {
        margin-top: -17px;
      }
    }
  }
}
