.c-home-news {
  float: left;
  width: 66.6666%;
  // padding-left: 20px;
  // padding-right: 20px;
  position: relative;
  padding-bottom: 80px;
  box-sizing: border-box;

  .e-button.e-button--pink {
    margin-top: 40px;
    min-width: 250px;
    position: absolute;
    bottom: 0; left: 20px;
  }

  .l-col-4 {
    width: 50%;
  }

  .c-post {
    margin-bottom: 0;

    &:nth-child(2) {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 1000px) {
  .c-home-news {
    width: 100%;
  }
}

@media screen and (max-width: 740px) {
  .c-home-news {
    .l-col-4 {
      width: 100%;
    }

    .c-post {
      padding-bottom: 52px;
      margin-bottom: 40px;
    }

    .e-button.e-button--pink {
      margin-top: 0;
    }
  }
}
