/*
**
** Variables
**
*/

$dist_path: 'https://metisit.com/wp-content/themes/metis-it/dist/';
// $dist_path: 'http://dev.joshuablokland.nl/metis-it/content/themes/metis-it/dist/';
// $dist_path: 'https://test.twee.agency/tbs19006/wp-content/themes/metis-it/dist/';

@import "colors/variable";
@import "fonts/variable";

@import "mixins/load";
@import "config/load";
