.c-menu {
  margin: 0 21px 0;
  padding: 17px 0 0;
  float: right;
  list-style: none;

  li {
    float: left;
  }

  > li {
    @include clearfix();
    padding: 0 50px 0 0;
    position: relative;

    > a {
      font-family: $font-heavy;
      font-size: 20px;
      line-height: 20px;
      float: left;
      width: 100%;
    }
  }

  li {
    &.current-menu-ancestor > a,
    &.current-menu-parent > a,
    &.current-menu-item > a,
    &.current_page_ancestor > a {
      color: palette(pink, normal)
    }
  }
}

@media screen and (max-width: 1222px) {
  .c-menu {
    margin: 0;
    padding: 30px 0 0;
    width: 100%;
    transition: padding 0.15s ease-out;

    > li {
      padding: 0;
      width: 16.6666666667%;
      margin-right: 4.1666666667%;

      > a {
        opacity: 0;
        transition: opacity 0.15s ease-out;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .c-header--animate-menu {
    .c-menu {
      padding: 40px 0 0;

      > li > a {
        opacity: 1;
      }
    }
  }
}

@media screen and (max-width: 668px) {
  .c-header--animate-menu .c-menu {
    padding: 20px 0 0;
  }
}

@media screen and (max-width: 535px) {
  .c-menu {
    padding: 7px 0 0;

    > li {
      width: 100%;
      padding: 0;

      > a {
        padding: 10px 0;
      }
    }
  }
  .c-header--animate-menu {
    .c-menu {
      padding: 17px 0 0;
    }
  }
}
