.sub-menu {
  padding: 0;
  margin: 10px 0 0;

  position: absolute;
  top: 50%; left: 0;
  width: 100%;
  list-style: none;
  opacity: 0;

  transition: top 0.15s, opacity 0.15s;
  transition-delay: 0.1s;
  transition-timing-function: ease-out;

  li {
    display: block;
    box-sizing: border-box;
    width: 100%;
    line-height: 18px;
    padding: 9px 10px 9px 0;
  }

  .c-header--animate-menu & {
    top: 100%;
    opacity: 1;
  }
}

@media screen and (max-width: 1222px) {
  .sub-menu {
    transition-delay: 0s;
  }
  .c-header--animate-menu {
    .sub-menu {
      transition-delay: 0.12s;
    }
  }
}

@media screen and (max-width: 668px) {
  .sub-menu li {
    padding: 5px 20px 5px 0;
  }
}

@media screen and (max-width: 580px) {
  .c-header--animate-menu {
    .sub-menu {
      display: none;
      position: relative;
      top: -3px;
      transition-delay: 0s;
    }

    .current-menu-item,
    .current-menu-parent,
    .current-menu-ancestor,
    .current_page_item,
    .current_page_ancestor {
      .sub-menu {
        display: block;
      }
    }
  }
}
