.c-post {
  padding: 0 0 54px;
  margin-bottom: 80px;
  box-sizing: border-box;
  position: relative;

  &.event-post {
    padding: 0;
  }

  .e-heading--3 {
    font-size: 20px;
    font-family: $font-heavy;
    padding: 0 0 3px;
  }

  .e-button {
    min-width: 160px;
    position: absolute;
    bottom: 0; left: 0;
  }

  @include e('thumb') {
    @include clearfix();
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 50%;
    margin: 0 0 20px;
    background-color: palette(white,normal);
    float: left;

    img {
      position: absolute;
      top: 0; left: 0;
      float: left;
      width: 100%;
      height: auto;
    }

    svg {
      width: 100%!important;
      height: 100%!important;
    }

    @include m('svg-holder') {
      position: absolute;
      top: 0; left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .c-home-event__date {
    background-color: #F0F0F0;
    position: absolute;
    top: 50%; left: 50%;
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media screen and (max-width: 1000px) {

  .c-post.l-col-4 {
    width: 47%;

    &:nth-child(3n) {
      margin-right: 6%;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 740px) {
  .c-post.l-col-4 {
    width: 100%;
    margin: 0;
    margin-bottom: 40px;
  }
}
