.c-blog-header {
  padding: 93px 0;
  max-height: 300px;
  color: palette(white, normal);
  background-color: palette(blue, normal);
  background-repeat: repeat-y;
  background-position: center top;
  background-image: url($dist_path+'icons/blog.svg');

  @include e('filter') {
    padding-top: 19px;

    @include m('text') {
      font-size: 19px;
      padding-right: 15px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .c-blog-header {
    .c-background__holder svg {
      transform: translateX(-33%);
    }
  }
}

@media screen and (max-width: 740px) {
  .c-blog-header {
    padding: 40px 0;
  }
}
