.e-heading {
  margin: 0;
  font-weight: normal;

  @include m('1') {
    font-family: $font-bold;
    font-weight: normal;
    font-size: 50px;
    line-height: 55px;
    text-transform: uppercase;

    span.color-white {
      color: #FFF;
    }
  }

  @include m('2') {
    font-family: $font-bold;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
  }

  @include m('3') {
    font-family: $font-bold;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
  }

  @include m('4') {
    font-family: $font-bold;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
  }

  @include m('5') {
    font-family: $font-heavy;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.021em;
  }
}

@media screen and (max-width: 1222px) {
  .e-heading {

    @include m('1') {
      font-size: 45px;
      line-height: 50px;
    }
  }
}


@media screen and (max-width: 740px) {
  .e-heading {

    @include m('1') {
      font-size: 30px;
      line-height: 33px;
    }

    @include m('2') {
      font-size: 25px;
    }
  }
}

@media screen and (max-width: 580px) {
  .e-heading {

    @include m('1') {
      font-size: 28px;
      line-height: 1.2;
    }

    @include m('2') {
      font-size: 16px;
      line-height: 1.3;
    }
  }
}
