.c-quote {
  padding: 100px 0;
  font-size: 22px;
  line-height: 26px;
  background-image: url($dist_path+'icons/quote.svg');
  background-repeat: repeat-y;
  background-position: center top;

  p {
    margin: 0;
    display: block;
  }

  @include e('quote') {
    font-family: $font-bold;
    position: relative;

    &:before {
      content: '"';
      font-style: italic;
      position: absolute;
      top: 0; left: -16px;
    }

    &:after {
      content: '"';
      font-style: italic;
    }
  }

  @include e('from') {
    position: relative;
    padding-top: 26px;

    &:after {
      content: '';
      width: 18px;
      height: 2px;
      background-color: palette(blue, normal);
      position: absolute;
      top: 13px; left: 0;
    }
  }

  @include e('function') {

  }
}

@media screen and (max-width: 1000px) {
  .c-quote {
    .l-col-6 {
      width: 100%;
      margin: 0;
    }
  }
}

@media screen and (max-width: 740px) {
  .c-quote {
    padding: 40px 0;
  }
}

@media screen and (max-width: 480px) {
  .c-quote {
    font-size: 16px;
    line-height: 21px;
  }
}
