.c-header__mobile-contact {
  float: left;
  display: none;
  margin-right: 20px;

  .e-button--icon:first-child {
    margin-right: 15px;
  }
}

@media screen and (max-width: 480px) {
  .c-header__mobile-contact {
    display: block;
    float: right;
    margin-right: 0
  }
}

#contact-link { display: none; }
