.c-header__bottom {
  position: absolute;
  bottom: 34px; left: 0;
  width: 100%; height: 0;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.15s;
  transition-delay: 0;
  transition-timing-function: ease-out;

  @media screen and (max-width: 580px) {
    bottom: 51px;
  }

  @include m('left') {
    float: left;

    .c-header__button-contact {
      float: left;
      width: 160px;
      margin-right: 40px;
    }
  }

  @include m('right') {
    float: right;
    width: 700px;
  }
}

@media screen and (max-width: 1222px) {
  .c-header__bottom--left {
    width: 37.5%;

    .c-header__button-contact {
      width: 44.4444444444%;
      margin-right: 11.1111111111%;
    }
  }
  .c-header__bottom--right {
    width: 58.3333333333%;
  }
}

@media screen and (max-width: 810px) {
  .c-header__bottom--left {
    width: 58.3333333333%;
  }
  .c-header__bottom--right {
    width: 37.5%;
  }
}

@media screen and (max-width: 701px) {
  .c-header__bottom--left {
    width: 58.3333333333%;
  }
}

@media screen and (max-width: 600px) {
  .c-header__bottom--left,
  .c-header__bottom--right {
    width: 100%;
  }

  .c-header__bottom--left {
    padding-bottom: 20px;
  }

  .c-header__button-contact,
  .c-header__address {
    display: none;
  }
}
