.c-header.c-header--animate-menu {
  height: 430px;

  .c-header__triangle {
    transform: rotate(180deg);
  }

  .c-header__bottom {
    height: auto;
    opacity: 1;
    transition: opacity 0.15s;
    transition-delay: 0.1s;
  }
}

@media screen and (max-width: 1222px) {
  .c-header.c-header--animate-menu {
    height: 500px;

    .c-header__triangle {
      top: 0;
    }
  }
}

@media screen and (max-width: 668px) {
  .c-header.c-header--animate-menu {
    height: 550px;
  }
}


@media screen and (max-width: 580px) {
  .c-header.c-header--animate-menu {
    height: 305px;
  }
}

@media screen and (max-width: 535px) {
  .c-header.c-header--animate-menu {
    height: 100vh;
  }
}
