.c-header__triangle {
  margin: 0;
  padding: 0;
  @include triangle(30px, palette(blue, normal), down);
  display: inline-block;
  position: relative;
  top: 5px;

  transition: transform 0.2s ease-out;
  transform: rotate(0deg);
}

@media screen and (max-width: 1222px) {
  .c-header__triangle {
    @include triangle(28px, palette(blue, normal), down);
    margin-left: 17px;
    top: 3px;
  }
}

@media screen and (max-width: 480px) {
  .c-header__triangle {
    @include triangle(20px, palette(blue, normal), down);
    top: 2px;
  }
}
