.c-header {
  position: fixed;
  top: 0; left: 0;
  z-index: 999;
  width: 100%;
  height: 100px;
  background-color: palette(white, normal);
  transition: height 0.25s ease-in-out;

  .admin-bar & {
    top: 32px;
  }

  .l-container {
    position: relative;
  }

  @include e('content') {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    overflow: hidden;
    padding: 24px 0;
    box-sizing: border-box;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: -4px; left: 0;
    width: 100%;
    height: 4px;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

@media screen and (max-width: 1222px) {
  .c-header {
    height: 90px;
  }
  
  .c-header__content {
    padding: 22px 0 16px;
  }
}

@media screen and (max-width: 480px) {
  .c-header {
    height: 55px;
  }

  .c-header__content {
    padding: 12px 0 10px;
  }
}

.c-header--placeholder {
  height: 68px;
}

@media screen and (max-width: 1222px) {
  .c-header--placeholder {
    height: 58px;
  }
}

@media screen and (max-width: 782px) {
  .c-header--placeholder {
    height: 44px;
  }

}

@media screen and (max-width: 480px) {
  .c-header--placeholder {
    height: 9px;
  }
}

html {
  @media screen and (max-width: 1222px) {
    scroll-padding-top: 90px;
  }
  @media screen and (max-width: 480px) {
    scroll-padding-top: 55px;
  }
  scroll-padding-top: 100px;
}