.c-header__indicator {
  position: absolute;
  top: 14px; right: 8px;
  z-index: 1;

  @include m('text') {
    font-family: $font-heavy;
    font-size: 18px;
    line-height: 20px;
    display: none;
  }
}

@media screen and (max-width: 1222px) {
  .c-header__indicator--text {
    display: inline-block;
  }
}

@media screen and (max-width: 500px) {
  .c-header__indicator--text {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .c-header__indicator {
    top: 7px;
  }
}
