.c-header__address {
  margin: 0;
  line-height: 24px;
  font-size: 16px;
  color: #9B9B9B;
  float: left;

  position: relative;
  top: 8px;
}

@media screen and (max-width: 915px) {
  .c-header__address {
    top: 0px;
    font-size: 14px;
    line-height: 21px;
  }
}
