.c-text-block {
  @include e('background') {
    position: absolute;
    top: 0; left: 0;
    @include triangle(360px, palette(blue, normal), up-right);
    background-position: center;
  }

  &.c-vac-link {
    color: palette(white, normal);

    .e-heading--2 {
      padding: 20px;
    }

    .c-text-block__background {
      border: none;
      height: 100%;
      width: 100%;
      background-size: cover;
    }

    .c-text-block__inner {
      height: 100%;
      width: 100%;
      position: absolute;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0; right: 0;
      @include triangle(42px, palette(white, normal), down-right);
      transition: all 0.15s ease-out;
      transform: translate3d(0px,0px,0px) scale(1);
    }

    &:hover:after {
      transform: translate3d(5px,5px,5px) scale(0.9);
    }

    .c-vac-link__url {
      position: absolute;
      top: 0; left: 0;
      height: 100%;
      width: 100%;
      text-indent: -120%;
      z-index: 4;
    }
  }

  .c-vac-link__text {
    font-family: $font-bold;
    font-size: 14px;
    line-height: 52px;
    text-decoration: none;
    text-align: right;
    padding-right: 40px;
    position: absolute;
    bottom: 0; left: 0;
    box-sizing: border-box;
    width: 100%;
  }
}
