.c-text-block {
  @include e('inner') {
    position: relative;
    z-index: 3;

    .e-heading {
      margin-bottom: 4px;
    }

    p {
      margin: 0;
      font-size: 16px;
      line-height: 21px;

      &.p1 {
        font-size: 19px;
        line-height: 25px;
      }

      strong {
        font-weight: normal;
        font-family: $font-heavy;
        display: block;
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 4px;
      }
    }
  }
}
