@media screen and (max-width: 1222px) {
  .c-text-block {
    min-height: 500px;

    &.visual {

      .e-paragraph {
        max-width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .c-text-block {
    min-height: 400px;

    &.l-col-4 {
      width: 50%;
    }

    &.transparent {
      .e-paragraph {
        font-size: 16px;
        line-height: 22px
      }
    }

    &.visual {
      &.l-col-4 {
        width: 100%;
        margin-right: 0%;
      }

      .e-paragraph {
        font-size: 16px;
        line-height: 22px;
      }
    }
  }
}

@media screen and (max-width: 740px) {
  .c-text-block {
    min-height: 360px;
    height: auto;

    &.l-col-4 {
      width: 100%;
      height: auto;
      margin-right: 0;
    }

    @include e('background') {
      left: auto;
      right: 0;
    }
  }
}

@media screen and (max-width: 480px) {
  .c-text-block {
    &.visual {
      min-height: 600px;
    }
  }
}
