.c-text-block {
  &.transparent {
    .e-paragraph {
      font-size: 19px;
      line-height: 25px;
    }

    .c-text-block__background {
      display: none;
    }
  }

  &.grijs {
    background-color: palette(grey, xx-light);
    color: palette(blue, normal);

    .c-text-block__inner {
      padding: 17px 20px;
    }

    .c-text-block__background {
      @include triangle(360px, palette(grey, x-light), up-right);
    }
  }

  &.white {
    background-color: palette(white, normal);
    color: palette(blue, normal);

    .c-text-block__inner {
      padding: 17px 20px;
    }

    .c-text-block__background {
      @include triangle(360px, palette(grey, xx-light), up-right);
    }
  }


  &.visual {
    // width: 65.5172413793%;
    min-height: 560px;

    .c-text-block__background {
      border: none;
      position: absolute;
      bottom: 0; left: 0;
      width: 100%; height: auto;
    }

    .e-paragraph {
      font-size: 19px;
      line-height: 25px;
      max-width: 360px;
    }

    & + .c-text-block {
      margin-right: 0;

      + .c-text-block {
        margin-right: 0;
      }
    }
  }
}
