.c-colleague {
  position: relative;
  margin-bottom: 40px;
  @include clearfix();

  @include e('avatar') {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    margin-bottom: 11px;
    overflow: hidden;

    img,
    svg {
      width: 100%;
      height: auto;
    }

    &::after {
      content: "";
      height: 0;
      width: 0;
      border-bottom: 40px solid #2F0798;
      border-left: 40px solid transparent;
      transition: transform .12s;
      transition-timing-function: ease-in-out;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  .e-paragraph {
    box-sizing: border-box;
    padding: 0;

    &:link,
    &:visited {
      color: palette(white, normal);
    }

    &:hover,
    &:active {
      color: palette(blue, normal);
    }
  }

  @include e('name') {
    font-family: $font-heavy;
    display: block;
    text-transform: uppercase;
  }

  @include e('function') {
    font-size: 14px;
    display: block;
  }
}

@media screen and (max-width: 1222px) {
  .l-col-3.c-colleague {
    width: 25%;
  }
}

@media screen and (max-width: 1000px) {
  .l-col-3.c-colleague {
    width: 33.3%;
    margin-right: 0 !important;

    &:nth-child(3n+1) {
      clear: left;
    }

    &.m-col-6 {
      width: 50%;

      &:nth-child(3n+1) {
        clear: none;
      }
    }
  }
}

@media screen and (max-width: 520px) {
  .l-col-3.c-colleague {
    width: 50%;
    margin-right: 0 !important;

    &:nth-child(3n+1) {
      clear: none;
    }
    .page-template-page-mensen & {

      &:nth-child(2n+1) {
        clear: left;
      }
    }
  }
}

.c-team {
  .e-heading--1 {
    color: palette(white, normal);
    padding-bottom: 32px;
  }
}

.colleague_filter {
  padding-top: 10px;

  .filter {
    input {
      display: none;
    }

    label {
      display: inline-block;
      font-size: 19px;
      line-height: 40px;
      position: relative;
      padding-left: 50px;

      &::before,
      &::after {
        content: '';
        display: block;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        height: 40px;
        width: 40px;
      }

      &::before {
        background: #ff707e;
      }
    }

    input:checked + label {
      &::after {
        background: url('../../icons/icon-checked.svg') no-repeat center;
      }
    }

    & + .filter {
      margin-left: 26px;
    }
  }

  .no-js & {
    display: none;
  }
}
