/**
 * CSS for FAQ item
 *
 * @TODO SHOULD be migrated to SCSS and JS compiler (webpack).
 * @TODO But current package.json has errors webpack cannot be installed.
 */

/*
 * The page
 */
#page-template-faq .main-content{
  padding: 0 20px 20px 20px;
}

/*
 * The FAQ items
 */
section.faq-items {
  padding: 20px 0 0 0;
}
section.faq-items .collapsible {
  background-color: #30089B;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  position: relative;
}
section.faq-items .collapsible h3{
  margin: 0;
  float: left;
}

section.faq-items .active,
section.faq-items .collapsible:hover {
  background-color: #f75275;
}

section.faq-items .collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  font-size: 27px;
  position: absolute;
  top: 15px;
  right: 20px;
}

section.faq-items .active:after {
  content: "\2212";
}

section.faq-items .content_container {
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #F0F0F0;
}

section.faq-items .content {
  padding:20px;
}