.c-home-techniek {
  padding: 80px 0;

  @include e('left') {
    float: left;
    width: 39.6551724138%;
    margin-left: 8.6206896552%;
    margin-right: 3.4482758621%;
  }

  @include e('right') {
    float: left;
    width: 39.6551724138%;
    box-sizing: border-box;
    padding-right: 60px;
  }

  .e-heading {
    text-transform: uppercase;
    margin-bottom: 18px;
  }

  .e-paragraph {
    margin-bottom: 34px;
  }

  .e-button--pink{
    min-width: 200px;
  }

  .show-on-tablet {
    display: none;
  }

  svg text {
    font-family: $font-heavy;
  }
}

@media screen and (max-width: 1222px) {
  .c-home-techniek {
    @include e('left') {
      width: 47.9166666667%;
      margin-left: 0;
      margin-right: 4.1666666667%;

      svg {
        width: 100%;
        height: 100%;
      }
    }

    @include e('right') {
      width: 47.9166666667%;
      padding-right: 40px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .c-home-techniek {

    .show-on-tablet {
      display: block;
    }

    @include e('left') {
      width: 65.7142857143%;
      margin-right: 5.7142857143%;
    }

    @include e('right') {
      width: 28.5714285710%;
      padding-right: 0px;

      .e-heading {
        display: none;
      }

      .e-paragraph{
        margin-bottom: 25px;
      }
    }
  }
}

@media screen and (max-width: 740px) {
  .c-home-techniek {
    padding: 80px 20px;

    .e-heading--2 {
      font-size: 26px;
    }

    @include e('left') {
      width: 100%;
      margin-right: 0;
      padding-bottom: 30px;
    }

    @include e('right') {
      width: 100%;
    }
  }
}

@media screen and (max-width: 480px) {
  .c-home-techniek {
    padding: 40px 20px;
  }
}
