// Colors

$color-palettes: (
	background: (
		light    : #F7F7F7,
		normal   : #FFFFFF,
	),
	white: (
		normal	 : #FFFFFF,
	),
	grey: (
		xx-light : #F0F0F0,
		x-light  : #E6E6E6,
		light    : #D7D7D7,
		normal   : #9B9B9B,
	),
	blue: (
		normal   : #30089B,
	),
	pink: (
		normal	 : #F65275,
		dark		 : #CE437D,
	),
	purple: (
		light	   : #A73486,
		normal	 : #7F268E,
		dark     : #581797,
	)
);
