.c-post-single {

  @include e('category') {
    font-size: 20px;
    font-family: $font-bold;
    text-transform: uppercase;
    position: relative;
    padding: 0 0 9px 22px;

    &:before {
      content: '';
      position: absolute;
      top: 4px; left: 0;
      @include triangle(12px, palette(white, normal), up-left);
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;
      }
    }

    a {
      color: palette(white, normal);
    }
  }
}

@media screen and (max-width: 740px) {
  .c-post-single {
    @include e('category') {
      font-size: 16px;

      &:before {
        top: 2px;
      }
    }
  }
}
