.c-post-single {

  @include e('content') {
    padding-bottom: 80px;
    @include clearfix();

    &.no-post-thumb {
      background-image: url($dist_path+'icons/post-single-no-thumb.svg');
      background-repeat: no-repeat;
      background-position: calc(50% + 603px) top;
    }

    @include m('left') {
      padding-top: 50px;

      a {
        text-decoration: underline;
        color: palette(purple, normal);
      }

      img {
        max-width: 100%;
        height: auto;
        margin-bottom: 25px;

        &.alignleft {
          float: left;
          margin-right: 20px;
        }

        &.alignright {
          float: right;
          margin-left: 20px;
        }
      }
    }

    @include m('right') {
      padding-top: 50px;
    }

    p {
      margin: 0;
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 25px;

      &:first-child {
        font-size: 19px;
        line-height: 25px;
      }
    }

    ul {
      margin-bottom: 25px;
    }

    h1, h2, h3, h4, h5, h6 {
      margin: 0;
      font-size: 20px;
      font-family: $font-heavy;
      font-weight: normal;
      line-height: 26px;

      b, strong {
        font-family: $font-bold;
        font-weight: normal
      }
    }
  }
}

.content-column {
  padding-left: 20px;
  padding-right: 20px;

  p {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 25px;

    b, strong {
      font-family: $font-bold;
      font-weight: normal;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-size: 20px;
    font-family: $font-heavy;
    font-weight: normal;
    line-height: 26px;

    b, strong {
      font-family: $font-bold;
      font-weight: normal;
    }
  }
}

@media screen and (max-width: 740px) {
  .c-post-single {

    @include e('content') {
      padding-bottom: 40px;

      &.no-post-thumb {
        background: none;
      }

      @include m('left') {
        padding-top: 40px;
      }

      @include m('right') {
        padding-top: 40px;
      }
    }
  }
}
