.c-post-single {
  position: relative;

  @include e("hero") {
    background-color: palette(blue, normal);
    color: palette(white, normal);
    background-repeat: no-repeat;
    background-position: center top;

    &.post-thumb {
      background-image: url($dist_path + "icons/post-single.svg");

      .l-container {
        padding-bottom: 0;
      }
    }

    &.no-post-thumb {
      background-image: url($dist_path + "icons/blog.svg");
      background-repeat: repeat-y;
      background-position: center top;
      min-height: 300px;
      max-height: 300px;
    }

    .l-container {
      padding: 80px 0;
      box-sizing: border-box;
      position: relative;

      .e-heading,
      .c-post-single__category {
        position: relative;
        z-index: 2;
      }
    }
  }

  @include e("image") {
    width: 100%;
    height: auto;
    margin-top: 65px;
    position: relative;

    picture,
    img {
      width: 100%;
      height: auto;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 1;
    }

    &::after {
      content: "";
      display: block;
      position: relative;
      width: 100%;
      height: 50%;
      z-index: -1;
    }
  }
}

@media screen and (max-width: 740px) {
  .c-post-single {
    @include e("hero") {
      .l-container {
        padding: 40px 0;
      }

      &.no-post-thumb {
        min-height: 1px;
      }
    }
  }
}
