.l-col {
  box-sizing: border-box;
  float: left;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.l-col-6 {
  float: left;
  box-sizing: border-box;
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;
}

.l-col-8 {
  float: left;
  box-sizing: border-box;
  width: 66.6666%;
  padding-left: 20px;
  padding-right: 20px;
}

.l-col-4 {
  float: left;
  box-sizing: border-box;
  width: 33.3333%;
  padding-left: 20px;
  padding-right: 20px;
}

.l-col-3 {
  float: left;
  box-sizing: border-box;
  width: 25%;
  padding-left: 20px;
  padding-right: 20px;
}

.content-column {
  box-sizing: border-box;

  &.one_half {
    padding-left: 0;
    padding-right: 20px;

    @media screen and (max-width: 740px) {
      padding-right: 0;
    }

    &.last_column {
      padding-left: 20px;
      padding-right: 0;

      @media screen and (max-width: 740px) {
        padding-left: 0;
      }
    }
    .c-rs-puzzle & {
      @media screen and (max-width: 740px) {
        padding: 0 20px;
      }
    }
  }
}

.white {
  background: #FFF;
}

.txt_align__center {
  text-align: center;
}

.more_space {
  padding: 26px 0;
}

@media screen and (max-width: 1222px) {

  .l-col-6, .l-col-4, .l-col-3 {
    // margin-right: 4.1666666667%;
  }

  .l-col-6 {
    // width: 47.9166666667%;
  }

  .l-col-4 {
    // width: 30.5208333333%;
  }

  .l-col-3 {
    // width: 21.875%;
  }
}

@media screen and (max-width: 1000px) {

  .l-col-6, .l-col-4, .l-col-3 {
    // margin-right: 5.7142857143%;
  }

  .l-col-4 {
    width: 33.3333%;

    // &:nth-child(3n) {
    //   margin-right: 0;
    // }
  }

  .l-col-6, .l-col-3, .m-col-6 {
    width: 50%;

    // &:nth-child(2n) {
    //   margin-right: 0;
    // }
  }

  .m-col {
    width: 100%;
  }
}

@media screen and (max-width: 740px) {

  .l-col-6, .l-col-4, .l-col-3, .l-col-8, .content-column.one_half {
    // margin-right: 0%;

    width: 100%;

    &.txt_align__center {
      padding-bottom: 40px;
    }
    .more_space {
      padding: 14px 0 0;
    }
  }
}
