.l-container {
  @include clearfix();
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 1222px) {
  .l-container {
    max-width: 1000px;
  }
}

@media screen and (max-width: 1000px) {
  .l-container {
    width: 740px;
    max-width: 100%;
  }
}

@media screen and (max-width: 740px) {
  .l-container {
    width: auto;
    // margin: 0 20px;
  }
}
