.c-footer {
  position: relative;
  padding: 74px 0 0;
  min-height: 300px;
  box-sizing: border-box;
  background-color: palette(pink, normal);
  background-image: url($dist_path+'icons/footer.svg');
  background-repeat: repeat-y;
  background-position: center top;

  .e-heading {
    font-size: 16px;
    font-family: $font-bold;
    line-height: 20px;
    text-transform: uppercase;
    padding-bottom: 16px;
  }

  p a{
    text-decoration: none;
  }

  .e-button{
    line-height: 40px;
  }

  .e-button__holder {
    padding-bottom: 18px;
  }

  @include e('share') {
    float: left;
    width: 25%;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;

    .e-heading {
      color: palette(white, normal);
    }

    @media screen and (max-width: 1222px) {
      width: 33.3%;
    }
  }

  @include e('contact') {
    float: left;
    width: 33.3%;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;

    @media screen and (max-width: 1222px) {
      width: 41.6%;
    }

    @media screen and (max-width: 1000px) {
      padding-bottom: 33px;
    }

    .e-mail__holder {
      width: 50%;
      float: left;

      @media screen and (max-width: 1000px) {
        width: 100%;
        float: none;
        margin-bottom: 18px;
      }
    }

    .e-paragraph {
      line-height: 26px;
    }
  }

  @include e('media') {
    float: left;
    width: 25%;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }

  .footerbottom {
    margin-top: 20px;
    color: palette(white, normal);
    font-size: 14px;
    line-height: 24px;

    a {
      color: palette(white, normal);
    }
  }
}

@media screen and (max-width: 1222px) {
  .c-footer {
    // @include e('share') {
    //   width: 30.5208333333%;
    //   margin-right: 4.1666666667%;
    // }
    // @include e('contact') {
    //   width: 21.875%;
    //   margin-right: 4.1666666667%;
    // }
    // @include e('media') {
    //   width: 21.875%;
    // }
  }
}

@media screen and (max-width: 1000px) {
  .c-footer {
    background-image: url($dist_path+'icons/footer-tablet.svg');

    @include e('share') {
      width: 38%;
    }
    @include e('contact') {
      width: 34%;
    }
    @include e('media') {
      width: 28%;
    }
  }
}

@media screen and (max-width: 740px) {
  .c-footer {
    padding: 40px 0;
    background-position: left 17px bottom;
    background-size: 100% auto;
    background-image: url($dist_path+'icons/footer-mobile.svg');
    background-repeat: no-repeat;

    .footerbottom {
      margin-top: 0;
    }

    @include e('share') {
      padding-bottom: 20px;
      width: 100%;
      margin-right: 0;
    }
    @include e('contact') {
      width: 100%;
      margin-right: 0;
      padding-bottom: 30px;
    }
    @include e('media') {
      width: 100%;
    }
  }
}



#subfooter {
  padding: 60px 0 45px;

  section.grijs + & {
    background: #FFF;
  }

  h3 {
    font-size: 40px;
    line-height: 40px;
    font-family: "FuturaStd-Bold","Arial";
    margin: 0;
    text-transform: uppercase;
  }

  p {
    margin: 0;
  }

  .e-button {
    & + .e-button {
      margin-left: 20px;
    }
  }



  @media screen and (max-width: 1000px) {
    .m-col {
      margin-top: 20px;
    }
  }
}
