.c-background {
  position: relative;

  @include e('content') {
    position: relative;
    z-index: 2;
  }

  @include e('holder') {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;

    img {
      position: absolute;
      top: 50%; left: 50%;
      transform: translateY(-50%) translateX(-50%);
      z-index: 2;
    }

    svg {
      position: absolute;
      top: 0; left: 50%;
      transform: translateX(-50%);
    }

    @include m('left') {
      position: absolute;
      top: 0; left: 0;
      width: 50%; height: 100%;
      z-index: 1;
    }

    @include m('right') {
      position: absolute;
      top: 0; right: 0;
      width: 50%; height: 100%;
      z-index: 1;
    }
  }
}
