.c-home-intro {
  background-color: #E1E1DF;
  padding: 60px 0 100px;

  &_half {
    float: left;
    width: 50%;
    height: 680px;

    @media screen and (max-width: 580px) {
      float: none;
      width: 100%;
      height: auto;
    }

    .c-background__content {
      max-width: 600px;

      &.floatright {
        width: 100%;
        display: block;

        @media screen and (max-width: 580px) {
          padding: 0;
          float: none;
        }
      }
    }

    .c-landing-header__bg-color {
      height: 40.2%;
      top:auto;
      bottom: 0;

      @media screen and (max-width: 580px) {
        height: 60%;
      }
    }

    .c-landing-header__img {
      max-width: 600px;
      background-position: center;
      background-size: 100%;

      @media screen and (max-width: 580px) {
        background-position: center bottom;
      }

      &.floatright {
        left:auto;
        right: 0;
        display: block;

        @media screen and (max-width: 580px) {
          padding: 0;
        }
      }
    }

    .c-home-intro__half {
      padding: 40px 20px;
      display: flex;
      flex-wrap: wrap;
      height: 600px;
      align-items: flex-start;

      @media screen and (max-width: 580px) {
        height: 400px;
      }

      .text {
        align-self: flex-start;
      }

      .e-button {
        align-self: flex-end;
      }
    }
  }

  .c-background__holder--left {
    background-color: #E1E1DF;
  }

  .c-background__holder--right {
    background-color: #F54167;
  }

  .c-background__holder img {
    transform: translateY(-45%) translateX(-50%);
  }

  .e-button {
    min-width: 160px;
  }

  @include e('text') {
    width: 35%;
    float: left;
    box-sizing: border-box;
    min-height: 300px;
    padding: 60px 20px 0;

    &.floatright  {
      float: right;

    }

    &.no_padding {
      padding: 0 20px;

      @media screen and (max-width: 580px) {
        padding-top: 40px;
      }
    }

    .oil4_vacancy {
      text-align: left;
    }

    .oil4_vacancy_header {
      font-size: 14px;
      text-align: left;
      display: none;
    }

    .oil4_vacancy {
      .title {
        font-size: 28px;
      }

      .text {
        color: palette(blue, normal);
      }
    }
  }

  .e-heading--1 {
    margin: 0 0 15px;
  }

  .e-paragraph {
    max-width: 310px;
    margin: 0 0 24px;
  }
}

@media screen and (max-width: 1222px) {
  .c-home-intro {
    .c-background__holder img {
      transform: translateY(-45%) translateX(-40%);
    }

    @include e('text') {
      width: 360px;
    }

    .e-heading--1 {
      font-size: 45px;
      line-height: 50px;
    }

    .e-paragraph {
      font-size: 16px;
      line-height: 22px;
      max-width: 260px;
    }
  }
}

@media screen and (max-width: 730px) {
  .c-home-intro {
    .c-background__holder img {
      transform: translateY(-45%) translateX(-35%);
    }
  }
}

@media screen and (max-width: 580px) {
  .c-home-intro {
    padding: 0 0 100px;

    .c-background__holder {
      position: relative;
      height: 255px;

      img {
        transform: translateY(-50%) translateX(-50%);
        width: 150%;
        height: auto;
      }
    }

    @include e('text') {
      width: 100%;
      padding: 22px 0 0;
    }

    .e-heading--1 {
      font-size: 30px;
      line-height: 33px;
    }

    .e-paragraph {
      max-width: 100%;
    }
  }
}
