.c-page-section {
  padding: 80px 0 40px;
  background-repeat: repeat-y;
  box-sizing: border-box;

  @include e('title') {
    padding: 0 0 37px;
  }

  &.padding-eq {
    padding: 80px 0;
  }

  &.padding-top {
    padding: 80px 0 0;
  }

  &.grey {
    background-color: palette(grey, xx-light);
  }

  &.grijs {
    background-color: palette(grey, x-light);
  }

  &.pink {
    background-color: palette(pink, normal);
  }
}


.l-container {
  & + .l-container.padding-eq {
    padding-top: 80px;
  }
}

@media screen and (max-width: 740px) {
  .c-page-section {
    padding: 40px 0 20px;

    &.padding-eq {
      padding: 40px 0;
    }

    &.padding-top {
      padding: 40px 0 0;
    }
  }
}
