.e-select {
  color: palette(white, normal);
  display: inline-block;
  position: relative;
  line-height: 40px;
  min-width: 172px;
  font-size: 19px;

  &:after {
    content: '';
    position: absolute;
    top: 50%; right: 10px;
    z-index: 2;
    transform: translateY(-50%) rotate(0deg);
    @include triangle(20px, palette(white, normal), down);
    transition: transform 0.15s ease-in-out;
  }

  @include e('placeholder') {
    background-color: palette(purple, light);
    position: relative;
    padding: 0 43px 0 15px;
    z-index: 2;
  }

  a {
    color: palette(white, normal);
    display: block;
  }

  @include e('list') {
    position: absolute;
    top: 100%; left: 0;
    min-width: 100%;
    padding: 0;
    margin: 0;
    display: inline-block;
    list-style: none;
    z-index: 1;
    height: 0;
    overflow: hidden;

    li {
      padding: 0 15px;
      background-color: palette(purple, dark);
      position: relative;
      opacity: 0;
      top: -8px;
      transition: opacity 0.15s ease-in-out, top 0.15s ease-in-out;

      &:nth-child(2n) {
        background-color: palette(purple, normal);
      }

      &:nth-child(3n) {
        background-color: palette(purple, light);
      }
    }
  }

  &:hover, &.open {

    &:after {
      transform: translateY(-50%) rotate(180deg);
    }

    .e-select__list {
      height: auto;
    }

    li {
      opacity: 1;
      top: 0;
    }

    @for $i from 1 through 10 {
      li:nth-child(#{$i}) {
        transition-delay: $i * 0.03s;
      }
    }
  }
}
