.c-colleague-hero {
  padding: 100px 0;
  box-sizing: border-box;
  color: palette(white, normal);
  background-color: palette(pink, normal);
  background-image: url($dist_path+'icons/colleague-hero.svg');
  background-repeat: repeat-y;
  background-position: center top;

  &.bg-no-repeat {
    background-repeat: no-repeat;
  }

  @include e('title') {
    padding-bottom: 80px;
  }

  @include e('avatar') {
    width: 100%;
    height: 250px;
    margin-bottom: 40px;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
    }
  }

  p {
    margin: 0;
    font-size: 19px;
    line-height: 25px;
  }

  @include e('expertise-list') {
    padding: 0;
    margin: 0;
    list-style: none;
    color: palette(blue, normal);
    font-size: 16px;
    line-height: 31px;

    li {
      padding: 0 0 0 22px;
      position: relative;

      &:before {
        content: '';
        @include triangle(12px, palette(blue, normal), down-right);
        position: absolute;
        top: 8px; left: 0;
      }
    }
  }

  .l-col-3:nth-child(3) {
    margin-right: 0;
  }
}

@media screen and (max-width: 1000px) {

  .c-colleague-hero__title.l-col-6 {
    width: 100%;
  }

  .c-colleague-hero {

    .l-col-4, .l-col-3 {
      margin-right: 5.7142857143%;
    }

    .l-col-6 {
      margin-right: 0;
    }
  }

  .c-colleague-hero__avatar {
    height: 330px;
  }

  .c-colleague-hero__expertise-list {
    padding-top: 40px;
  }
}

@media screen and (max-width: 740px) {
  .c-colleague-hero {
    padding: 40px 0;

    p {
      margin: 0;
      font-size: 16px;
      line-height: 21px;
    }

    .e-button__holder {
      margin-bottom: 40px;
    }
  }

  .c-colleague-hero__title {
    padding-bottom: 40px;
  }

  .c-colleague-hero__avatar {
    width: 100%;
    height: 90vw;
  }
}
