.c-work-at {
  background-color: #E6E6E6;
  background-image: url($dist_path+'icons/over-ons-work-at.svg');
  background-repeat: no-repeat;
  background-position: calc(50% - 750px) top;

  .c-text-block.transparent {
    height: auto;
  }
}

@media screen and (max-width: 1222px) {
  .c-work-at {
    .c-text-block {
      height: 340px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .c-work-at {
    .c-text-block {
      height: 240px;
    }
  }
}
