.c-home-highlights {
  position: relative;
  top: -60px;
  z-index: 3;
  padding: 0 0 20px;

  @include e('item') {
    text-align: center;
    position: relative;
    margin-bottom: 42px;
    display: flex;
    flex-direction: column;

    .e-heading {
      margin-bottom: 5px;
    }

    .e-heading--3 {
      min-height: 78px;
    }

    .e-paragraph {
      text-align: left;
      margin-bottom: 22px;

      &.is_pink {
        color: palette(pink, normal);
      }

      @media screen and (max-width: 580px) {
        text-align: center;
      }
    }

    .e-button {
      min-width: 240px;
      text-align: left;
      margin-top: auto;
    }

    &:last-child {
      margin-right: 0!important;
    }

    @include m('mobile-content') {
      position: relative;
      height: 100%;
      z-index: 2;
    }

    @include m('mobile-bg') {
      position: absolute;
      top: 60px; left: 0;
      width: 100%; height: 100%;
      background-color: palette(grey, x-light);
      z-index: -2;
      display: none;
    }
  }

  @include e('icon') {
    padding-bottom: 5px;
  }
}

.c-home-highlights__item {
  .single-expertises & {
    margin-top: -60px;

    @media screen and (max-width: 580px) {
      margin-top: 60px;
      background: palette(grey, xx-light);

      .c-home-highlights__icon {
        margin-top: -60px;
      }
    }

    .e-heading--3 {
      font-family: $font-bold;
      font-size: 22px;
      line-height: 26px;
    }
  }

  .c-colleague-hero__expertise-list {
    text-align: left;

    &.is_pink{
      a{
        font-family: $font-heavy;
        &:link,
        &:visited {
          color: palette(pink, normal);
        }

        &:hover,
        &:active {
          color: palette(blue, normal);
        }
      }

      li::before {
        border-bottom-color: palette(pink, normal);
      }
    }
  }
}

@media screen and (max-width: 1222px) {

  .c-home-highlights {

    // @include e('item') {
    //   width: 30.5208333333%;
    //   margin-right: 4.1666666667%;
    // }
  }
}

@media screen and (max-width: 1000px) {

  .c-home-highlights {
    .e-button {
      min-width: 100%;
      padding: 0 14px;
    }
  }
}

@media screen and (max-width: 740px) {
  .c-home-highlights {

    .l-container {
      width: 100%;
      margin: 0;
    }

    @include e('item') {
      text-align: left;
      position: relative;
      box-sizing: border-box;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 40px;
      margin: 0;

      @include m('mobile-bg') {
        display: block;
      }

      &:last-child {
        padding-bottom: 0;
      }
    }

    @include e('icon') {
      position: relative;
      z-index: 3;
    }

    .e-heading {
      text-align: center;
    }

    .e-button {
      position: relative;
      bottom: 0; left: 0;
      transform: translateX(0);
      padding: 0 20px;
      min-width: 240px;
      max-width: fit-content;
      align-self: center;
    }

    @include e('icon') {
      text-align: center;
    }
  }
}

@media screen and (max-width: 580px) {
  .c-home-highlights {

    @include e('item') {
      text-align: center;
    }
  }
}

.strategy-fourth-icon {
  max-width: 120px;
  max-height: 120px;
}
