.c-rs-vacancies {
  padding: 80px 0 40px;
  background-color: #F0F0F0;
}

@media screen and (max-width: 1000px) {

  .c-rs-vacancies .l-col-4 {
    width: 50%;
  }
}

@media screen and (max-width: 740px) {

  .c-rs-vacancies .l-col-4 {
    width: 100%;
  }
}
