.c-rs-slider-yearly-budget {
  padding: 80px 0;
}

.slider-yb {

  .l-col-4,
  .l-col-8 {
    padding: 0;
  }

  @include e('totals') {
    @include clearfix();
    width: 100%;
    height: 40px;
    background-color: #30009E;
    position: relative;

    &:before {
      font-family: $font-bold;
      font-size: 20px;
      position: absolute;
      top: -40px;
    }

    @include m('el') {
      float: left;
      height: 40px;
      transition: width 0.3s ease-in-out;

      &:nth-child(1) { background-color: #F65275; }
      &:nth-child(2) { background-color: #7F268E; }
      &:nth-child(3) { background-color: #CE437D; }
    }

    @include m('text') {
      font-size: 20px;
      font-family: $font-bold;
      margin-top: 10px;

      &.light {
        color: #F65275;
        float: left;
      }

      &.dark {
        float: right;
      }
    }
  }

  @include e('heading') {
    font-size: 30px;
    font-family: $font-bold;
    text-transform: uppercase;
    line-height: 66px;
    margin-top: 80px;

    // &:nth-child(1) { color: #2F0798; }
    &:nth-child(1) { color: #F65275; }
    &:nth-child(2) { color: #7F268E; }
    &:nth-child(3) { color: #CE437D; }
  }

  @include e('range') {
    position: relative;
    min-height: 66px;
    margin-top: 80px;

    input[type="range"] {
      width: 100%;
      min-height: 66px;
      position: relative;
      z-index: 2;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: transparent;
      margin: 0;

      &:focus {
        outline: none;
      }

      &:hover {
        cursor: pointer;
      }
    }

    &:before {
      font-family: $font-bold;
      font-size: 20px;
      position: absolute;
      top: -30px;
    }

    @include m('track') {
      position: absolute;
      height: 3px;
      width: 100%;
      top: 50%;
      left: 0;
      margin-top: -2px;
      background-color: #D7D7D7;
      z-index: 1;
    }

    @include m('icon') {
      position: absolute;
      top: 0;
      background-color: #D7D7D7;
      width: 46px;
      height: 46px;
      transform: rotate(45deg) translateX(-66%) scale(1);
      transition: background 0.2s ease-out, transform 0.2s ease-out;

      &:after {
        content: '';
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0; left: 0;
        transform: rotate(-45deg);
        text-align: center;
        color: #FFF;
        line-height: 46px;
      }

      &.active {
        transform: rotate(45deg) translateX(-66%) scale(1.2);

        &:after {
          background-size: 80%;
        }
      }

      &:nth-child(1) { left: 29px; }
      &:nth-child(2) { left: 36%; }
      &:nth-child(3) { left: 66%; }
      &:nth-child(4) { right: -14px; }
    }

    &:nth-child(1) {

      &:before {
        color: #F65275;
      }

      .active {
        background-color: #F95073;
      }

      .slider-yb__range--icon:nth-child(1):after {
        background-image: url($dist_path+'icons/slider-yearly/icon-t-1-fiets.svg');
      }

      .slider-yb__range--icon:nth-child(2):after {
        background-image: url($dist_path+'icons/slider-yearly/icon-t-2-trein.svg');
      }

      .slider-yb__range--icon:nth-child(3):after {
        background-image: url($dist_path+'icons/slider-yearly/icon-t-3-auto.svg');
      }

      .slider-yb__range--icon:nth-child(4):after {
        background-image: url($dist_path+'icons/slider-yearly/icon-t-4-beterrr.svg');
      }

    }

    &:nth-child(2) {

      &:before {
        color: #7F268E;
      }

      .active {
        background-color: #801F90;
      }

      .slider-yb__range--icon:nth-child(1):after {
        background-image: url($dist_path+'icons/slider-yearly/icon-m-1-nokia.svg');
      }

      .slider-yb__range--icon:nth-child(2):after {
        background-image: url($dist_path+'icons/slider-yearly/icon-m-2-phone.svg');
      }

      .slider-yb__range--icon:nth-child(3):after {
        background-image: url($dist_path+'icons/slider-yearly/icon-m-3-macbook.svg');
      }

      .slider-yb__range--icon:nth-child(4):after {
        background-image: url($dist_path+'icons/slider-yearly/icon-m-4-alles.svg');
      }
    }

    &:nth-child(3) {

      &:before {
        color: #CE437D;
      }

      .active {
        background-color: #D0407D;
      }

      .slider-yb__range--icon:nth-child(1):after {
        content: '+0';
      }

      .slider-yb__range--icon:nth-child(2):after {
        content: '+2';
      }

      .slider-yb__range--icon:nth-child(3):after {
        content: '+4';
      }

      .slider-yb__range--icon:nth-child(4):after {
        content: '+8';
      }
    }
  }
}


/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 0;
  height: 46px;
  width: 46px;
  background: transparent;
  cursor: pointer;
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  border: 0;
  height: 46px;
  width: 46px;
  background: transparent;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  -webkit-appearance: none;
  border: 0;
  height: 46px;
  width: 46px;
  background: transparent;
  cursor: pointer;
}

.c-rs-slider-yearly-budget__element.animation {
  .slider-yb__range:first-child {
    .slider-yb__range--icon:first-child {
      animation: pulseAni .7s linear infinite;
    }
  }
}

@keyframes pulseAni {
  0% {
    transform: rotate(45deg) translateX(-66%) scale(1);
  }

  50% {
    transform: rotate(45deg) translateX(-66%) scale(1.2);
  }

  100% {
    transform: rotate(45deg) translateX(-66%) scale(1);
  }
}

@media screen and (max-width: 1000px) {
  .c-rs-slider-yearly-budget__text {
    width: 100%!important;
  }

  .c-rs-slider-yearly-budget__element {
    // padding: 0!important;
    width: 100%!important;
  }
}

@media screen and (max-width: 740px) {

  .slider-yb .l-col-4 {
    display: none;
  }

  .slider-yb__totals {
    margin-top: 40px;
  }

  .slider-yb__range:nth-child(1) {
    margin-top: 110px;

    &:before {
      content: 'Vervoer';
    }
  }

  .slider-yb__range:nth-child(2) {

    &:before {
      content: 'Middelen';
    }
  }

  .slider-yb__range:nth-child(3) {

    &:before {
      content: 'Vakantie';
    }
  }

  .slider-yb__totals {

    &:before {
      content: 'Jaarbudget';
    }
  }
}

@media screen and (max-width: 580px) {

  .slider-yb {
    padding-top: 0;
  }

  .slider-yb__range--icon.active {
    transform: rotate(45deg) translateX(-66%) scale(1);
  }

  .slider-yb__range--icon:nth-child(2) {
    left: 36%;
  }

  .slider-yb__range--icon:nth-child(3) {
    left: 63%;
  }

  .slider-yb__range:before{
    font-size:14px;
    top: -20px;
  }

  .slider-yb__totals:before{
    font-size:14px;
    top: -24px;
  }

  .slider-yb__totals--text {
    font-size:14px;
  }

  .slider-yb__range{
    margin-bottom: 40px;
    margin-top: 20px;
  }
}
