.c-core-qualities {
  background-color: #F75275;
  color: palette(white, normal);

  background-image: url($dist_path+'icons/over-ons-core-qualities.svg');
  background-repeat: repeat-y;
  background-position: top center;

  @include e('content') {

    .e-heading {
      margin-bottom: 33px;
    }

    p {
      margin: 0 0 26px;
      font-size: 19px;
      line-height: 25px;
    }
  }

  @include e('img') {
    padding-top: 90px;
    text-align: center;
  }
}

@media screen and (max-width: 1000px) {
  .c-core-qualities__img svg {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 740px) {
  .c-core-qualities__img {
    display: none;
  }
}
