.c-page-section {

  &.strategie {
    background-color: palette(blue, normal);
    color: palette(white, normal);
    background-image: url($dist_path+'icons/diensten-strategie.svg');
    background-position: center top;
    background-repeat: repeat-y;

    .c-text-block {
      min-height: 400px;
    }
  }

  &.diensten {
    background-color: #CDCDC8;
  }

  &.architectuur {
    background-color: #CDCDC8;
    background-image: url($dist_path+'icons/diensten-architectuur.svg');
    background-position: center top;
    background-repeat: repeat-y;

    .c-text-block {
      min-height: 440px;
    }
  }

  &.implementatie {
    background-image: url($dist_path+'icons/diensten-implementation.svg');
    background-position: center top;
    background-repeat: repeat-y;

    .c-text-block {
      min-height: 400px;
    }
  }
}

.c-diensten-architectuur__image {
  width: 100%;
  height: 464px;
  background-image: url('/img/diensten-architecture_2x.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 375px auto;
  position: absolute;
  bottom: 0; left: 0;
  z-index: 2;
}

.c-diensten-architectuur__bg {
  position: absolute;
  bottom: 0; left: 0;
  width: 100%; height: 260px;
  z-index: 1;
  // background-color: #FF707D;
}

@media screen and (max-width: 1222px) {
  // .c-page-section.strategie {
  //   background-position: calc(50% - 704px) top;
  // }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .c-diensten-architectuur__image {
    background-image: url('/img/diensten-architecture_2x.png');
  }
}

@media screen and (max-width: 1000px) {

  .page-template-page-diensten .c-page-section {
    &.strategie,
    &.diensten,
    &.architectuur,
    &.implementatie {
      .l-col-4 {
        width: 50%;

        .c-text-block {
          min-height: 470px;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .page-template-page-diensten .c-page-section {
    &.strategie,
    &.diensten,
    &.architectuur,
    &.implementatie {
      .l-col-4 {
        width: 100%;

        .c-text-block {
          min-height: 0;

          &.visual {
            min-height: 400px;
          }
        }
      }
    }
  }
}

.diensten {

  .c-roadmap {
      height: unset !important;
      display: flex;
      justify-content: center;

      & svg {
        width: 728px;
        height: 728px;
        margin-bottom: 64px;
        
        @media screen and (max-width: 1222px) {
          width: 728px;
          height: 728px;
        }
        
        @media screen and (max-width: 782px) {
          width: 500px;
          height: 500px;
        }

        @media screen and (max-width: 480px) {
          width: 300px;
          height: 300px;
        }

        &:hover {
          transform: scale(1.1) rotate(1turn);
          transition: ease-in-out .3s;
        }
      }

  }
}

.strategie,
.architectuur,
.realisatie,
.beheer {
  height: unset;

  .visual {
    overflow: unset;
  }

  .c-diensten-architectuur__image {
    bottom: -28px;
    @media (min-width:1001px) and (max-width: 1222px) {
      bottom: -68px;
    }
    @media screen and (max-width: 700px) {
      bottom: 0;
    }
  }
  .c-text-block {
    min-height: 470px;

    @media screen and (max-width: 700px) {
      min-height: 0;
    }
  }
}

.strategie {
  .roze {
    background-color: #ce437d;
    padding: 16px;

    .c-text-block__background {
      border-top: unset;
    }
  }
}

.architectuur {
  h1,
  p {
    color: #ce437d;
  }

  .violet {
    background-color: #ce437d;
    padding: 16px;

    h5,
    p {
      color: #fff;
    }

    .c-text-block__background {
      border-top: unset;
    }
  }
}

.realisatie {
  .paars {
    background-color: #a73486;
    padding: 16px;

    .c-text-block__background {
      border-top: unset;
    }
  }
}

.beheer {
  h1,
  p {
    color: #7f268e;
  }

  .donkerpaars {
    background-color: #7f268e;
    padding: 16px;

    h5,
    p {
      color: #fff;
    }

    .c-text-block__background {
      border-top: unset;
    }
  }
}

