.c-page__title {
  padding: 0 0 37px;
}

.c-page-intro {
  box-sizing: border-box;
  padding: 91px 0;
  min-height: 300px;
  background-color: palette(grey, xx-light);
  background-repeat: repeat-y;
  background-position: top center;

  &.clients {
    background-color: palette(pink, normal);
    color: palette(white, normal);
    background-image: url($dist_path+'icons/clients-intro.svg');
  }

  &.diensten {
    background-image: url($dist_path+'icons/diensten-intro.svg');
  }

  &.about {
    background-image: url($dist_path+'icons/over-ons-intro.svg');
  }

  @include e('content') {

    .e-heading {
      margin-bottom: 31px;
    }

    p {
      font-size: 19px;
      line-height: 25px;
      margin: 0;
    }
  }

  @include e('image') {
    width: 100%;
    float: left;
    padding-top: 50px;
    text-align: center;

    img {
      width: 100%;
      max-width: 1016px;
      height: auto;
    }
  }
}

@media screen and (max-width: 1222px) {
  .c-page-intro {

    @include e('content') {
      &.l-col-6 {
        width: 58.3333333333%;
      }
    }

    @include e('image') {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .c-page-intro {
    @include e('content') {
      &.l-col-6 {
        width: 80%;
      }
      p {
        font-size: 16px;
        line-height: 22px;
      }
    }
  }

  .c-page__title {
    padding: 0 0 15px;
  }
}

@media screen and (max-width: 740px) {
  .c-page-intro {
    padding: 40px 0;
    min-height: 0;

    @include e('content') {
      &.l-col-6 {
        width: 100%;
      }
      .e-heading {
        margin-bottom: 18px;
      }
    }
  }
}
