.c-team-visual {
  min-height: 600px;
  position: relative;

  .e-button {
    min-width: 160px;
  }

  .e-paragraph {
    color: palette(white, normal);
    margin-bottom: 25px;
  }

  .e-heading {
    margin-bottom: 55px;
  }

  @include e('content') {
    position: relative;
    z-index: 2;
  }

  @include e('left') {
    float: left;
    width: 40%;
    padding-top: 160px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }

  @include e('left--about') {
    float: left;
    width: 40%;
    padding-top: 101px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }

  @include e('background') {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: 1;
    overflow: hidden;

    svg {
      position: absolute;
      top: 50%; left: 50%;
      width: auto; height: 100%;
      transform: translateY(-50%) translateX(-50%);
      z-index: 1;
    }

    @include m('top') {
      padding: absolute;
      top: 0; left: 0;
      width: 100%;
      height: 50%;
      background-color: #CDCDC8;
    }

    @include m('bottom') {
      padding: absolute;
      top: 50%; left: 0;
      width: 100%;
      height: 50%;
      background-color: #FF6F7B;
    }
  }

  @include e('image') {
    position: absolute;
    top: 0; left: 50%;
    margin-left: -84px;
    width: 673px;
    height: 600px;
    z-index: 2;
    background-image: url($dist_path+'/img/home-team.png');
    background-size: 673px 600px;
    background-repeat: no-repeat;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .c-home-team__image {
    background-image: url($dist_path+'/img/home-team_2x.png');
  }
}

@media screen and (max-width: 1222px) {
  .c-team-visual{

    @include e('left') {
      padding-top: 170px;
    }

    .e-paragraph {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 40px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .c-team-visual{
    @include e('left') {
      width: 53.1428571429%;
    }
    @include e('image') {
      margin-left: -120px;
    }
  }
}

@media screen and (max-width: 740px) {
  .c-team-visual {
    min-height: 0;

    @include e('background') {
      position: relative;
      top: 0; left: 0;

      svg {
        display: none;
      }
    }
    @include e('image') {
      height: 480px;
      position: relative;
      left: 0;
      margin: 0;
      width: 100%;
      background-position: center;
      background-size: cover;
    }
    @include e('left') {
      padding-top: 40px;
      padding-bottom: 40px;
      width: 100%;

      @include m('about') {
        padding-top: 40px;
      }
    }
    .e-button {
      background-color: palette(grey, xx-light);
    }
    .e-paragraph {
      color: palette(blue, normal);
      margin-bottom: 25px;
    }
    .e-heading {
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 480px) {
  .c-team-visual {
    @include e('image') {
      height: 255px;
    }
  }
}
