.e-paragraph {
  margin-top: 0;
  font-size: 16px;
  line-height: 22px;

  @include m('large') {
    font-size: 18px;
    line-height: 24px;
  }

  @include m('line-height') {
    line-height: 26px;
  }
}

p {
  a {
    text-decoration: underline;

    &:hover {
      color: palette(purple, normal);
    }
  }
}

@media screen and (max-width: 1000px) {
  .e-paragraph {
    @include m('large') {
      font-size: 16px;
      line-height: 22px;
    }
  }
}
