.c-home-testimonials {
  min-height: 600px;
  background-color: palette(blue, normal);
  background-repeat: repeat-y;
  background-position: center top;
  background-image: url($dist_path+'icons/home-testimonials.svg');
  color: palette(white, normal);
  text-align: center;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  p {
    margin: 0;
  }

  .c-quote__quote{
    font-size: 28px;
    line-height: 34px;
    max-width: 440px;
    margin: 0 auto;

    &:before {
      top: auto;
      left: auto;
      position: relative;
      margin-right: 5px;
    }
  }

  .c-quote__from{
    font-size: 18px;
    max-width: 190px;
    margin: 0 auto;

    &:after {
      background-color: palette(white,normal);
      left: 50%; margin-left: -9px;
    }
  }

  .c-quote__function{
    font-size: 14px;
    max-width: 190px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 740px) {

  .c-home-testimonials .c-quote__quote {
    font-size: 22px;
    line-height: 1.3;
    max-width: 90%;
  }
}
