.c-home-events {
  float: left;
  width: 33.3333%;
  position: relative;
  padding-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;

  .e-button.e-button--pink {
    margin-top: 40px;
    min-width: 250px;
    position: absolute;
    bottom: 0; left: 0;
  }
}

.c-home-event {
  @include clearfix();
  padding-left: 60px;
  padding-bottom: 20px;

  @include e('date') {
    width: 60px;
    height: 60px;
    float: left;
    margin-left: -60px;
    background-color: palette(white, normal);
    text-align: center;

    @include m('month') {
      color: palette(white, normal);
      background-color: palette(blue, normal);
      text-transform: uppercase;
      font-size: 11px;
      line-height: 18px;
    }

    @include m('day') {
      font-family: $font-regular;
      font-size: 32px;
      line-height: 42px;
    }
  }

  @include e('title') {
    font-family: $font-heavy;
    font-size: 20px;
    line-height: 24px;
    padding: 8px 0 0 17px;
  }
}

@media screen and (max-width: 1000px) {
  .c-home-events {
    padding-top: 80px;
    width: 100%;
    @include clearfix();
  }

  .c-home-event {
    box-sizing: border-box;
    width: 47.1428571429%;
    margin-right: 5.7142857143%;
    float: left;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 740px) {
  .c-home-events {
    padding-top: 40px;

    .e-button.e-button--pink {
      margin-top: 25px;
    }
  }

  .c-home-event {
    width: 100%;
    margin-right: 0;
  }
}
