.e-search {
  width: 100%;
  height: 42px;
  position: relative;

  @include e('submit') {
    border: none;
    background: none;
    padding: 0;
    width: 42px;
    height: 42px;
    position: absolute;
    top: 0; right: 0;
  }

  input[type="search"] {
    -webkit-appearance: textfield;
  }

  input {
    position: absolute;
    top: 0; left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    border: none;
    background-color: #E9E9E9;
    line-height: 40px;
    padding: 0 42px 2px 12px;
    box-sizing: border-box;
    color: palette(grey, normal);
    font-family: $font-regular;
    font-size: 16px;
  }

  input::-webkit-input-placeholder {
    color: palette(grey, normal);
  }
  input:-moz-placeholder {
    color: palette(grey, normal);
  }
  input::-moz-placeholder {
    color: palette(grey, normal);
  }
  input:-ms-input-placeholder {
    color: palette(grey, normal);
  }
}
