.c-landing-header {
  height: 600px;
  background-color: #CDCDC8;
  position: relative;

  .l-container {
    position: relative;
    z-index: 3;
  }

  @include e('img') {
    height: 100%; width: 100%;
    position: absolute;
    top: 0; left: 0;
    z-index: 2;
    background-image: url($dist_path+'img/vacatures/header-1.png');
    background-size: auto 100%;
    background-position: top center;
    background-repeat: no-repeat;
  }

  @include e('bg-color') {
    height: 50%; width: 100%;
    position: absolute;
    top: 50%; left: 0;
    z-index: 1;
    background-color: #E35275;
  }

  .e-button {
    padding-right: 40px;
  }

  @include e('top') {
    box-sizing: border-box;
    height: 300px;
    padding-top: 60px;
  }

  @include e('bottom') {
    box-sizing: border-box;
    padding: 60px 0 0;
    height: 300px;
    color: palette(white, normal);

    .e-heading--2 {
      margin-bottom: 25px;
    }

    .header_landing_it & {
      padding: 40px 20px 0;
      width: 35%;
      clear: both;
    }
  }

  &.header-1 .c-landing-header__img { background-image: url($dist_path+'img/vacatures/header-1.png'); }
  &.header-1 .c-landing-header__bg-color { background-color: #E35275; }

  &.header-2 .c-landing-header__img { background-image: url($dist_path+'img/vacatures/header-2.png'); }
  &.header-2 .c-landing-header__bg-color { background-color: #581E85; }

  &.header-3 .c-landing-header__img { background-image: url($dist_path+'img/vacatures/header-3.png'); }
  &.header-3 .c-landing-header__bg-color { background-color: #943480; }

  &.header-4 .c-landing-header__img { background-image: url($dist_path+'img/vacatures/header-4.png'); }
  &.header-4 .c-landing-header__bg-color { background-color: #BB447E; }

  &.header-5 .c-landing-header__img { background-image: url($dist_path+'img/vacatures/header-5.png'); }
  &.header-5 .c-landing-header__bg-color { background-color: #2F078B; }

  &.header-6 .c-landing-header__img { background-image: url($dist_path+'img/vacatures/header-6.png'); }
  &.header-6 .c-landing-header__bg-color { background-color: #FF707C; }

  &.header-7 .c-landing-header__img { background-image: url('../../img/vacatures/header-7.png'); }
  &.header-7 .c-landing-header__bg-color { background-color: #581797; }

  &.header-home_it {
    background-color: #E0E0DF;

    .c-landing-header__img { background-image: url('../../img/vacatures/header-home_it.png'); }
    .c-landing-header__bg-color { background-color: #F55275; }
  }

  &.header-home_network .c-landing-header__img { background-image: url('../../img/vacatures/header-home_network.png'); }
  &.header-home_network .c-landing-header__bg-color { background-color: #30079b }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .c-landing-header {
    &.header-1 .c-landing-header__img { background-image: url($dist_path+'img/vacatures/header-1_2x.png'); }
    &.header-2 .c-landing-header__img { background-image: url($dist_path+'img/vacatures/header-2_2x.png'); }
    &.header-3 .c-landing-header__img { background-image: url($dist_path+'img/vacatures/header-3_2x.png'); }
    &.header-4 .c-landing-header__img { background-image: url($dist_path+'img/vacatures/header-4_2x.png'); }
    &.header-5 .c-landing-header__img { background-image: url($dist_path+'img/vacatures/header-5_2x.png'); }
    &.header-6 .c-landing-header__img { background-image: url($dist_path+'img/vacatures/header-6_2x.png'); }
    &.header-7 .c-landing-header__img { background-image: url('../../img/vacatures/header-7.png'); }
  }
}

@media screen and (max-width: 1000px) {
  .c-landing-header__img {
    background-position: calc(50% + 130px) top;
  }
}

@media screen and (max-width: 740px) {
  .c-landing-header {
    height: 400px;

    @include e('img') {
      background-size: 2000px 400px;
    }

    @include e('top') {
      height: 200px;
      padding-top: 40px;
    }

    @include e('bottom') {
      height: 200px;
      padding-top: 30px;
    }
  }
}

@media screen and (max-width: 580px) {
  .header_landing_it {
    min-height: 400px;
    height: 100%;

    .c-landing-header__img {
      background-position: calc(50% - 30px) top;
    }

    .c-background__content {
      padding: 0 20px;
    }

    .c-home-intro__text {
      padding: 60px 0 0;
      min-height: 200px;

      &.floatright {
        display: none;
      }
    }

    .c-landing-header__bottom {
      width: 100%;
      height: 100%;
      padding: 220px 0 60px;

      .e-paragraph {
        font-family: $font-bold;
      }
    }
  }
}
