.c-client ul,
.content-column ul,
.c-landing__content ul {
  margin: 0;
  padding: 0;
  list-style: none;
  color: palette(blue, normal);
  font-size: 16px;
  line-height: 21px;

  li {
    padding: 4px 0 4px 22px;
    position: relative;

    &:before {
      content: '';
      @include triangle(12px, palette(blue, normal), down-right);
      position: absolute;
      top: 7px; left: 0;
    }
  }
}
