.c-landing {

  @include e('content') {
    background-image: url($dist_path+'icons/over-ons-rolls.svg');
    background-repeat: no-repeat;
    background-position: calc(50% + 130px) top;

    &.no_bgimg {
      background-image: none;
    }

    h1 {
      margin: 0;
      font-weight: normal;
      font-family: $font-bold;
      font-weight: normal;
      font-size: 42px!important;
      line-height: 55px!important;
      text-transform: uppercase;
      padding-bottom: 32px;
    }

    p:first-child {
      font-size: 16px!important;
      line-height: 22px!important;
    }

    .l-container > div {

      &:nth-child(2n) {
        color: palette(purple, light);

        ul {
          color: palette(purple, light);

          li:before {
            @include triangle(12px, palette(purple, normal), down-right);
          }
        }
      }

      &:nth-child(3n) {
        color: palette(pink, normal);

        ul {
          color: palette(pink, normal);

          li:before {
            @include triangle(12px, palette(pink, normal), down-right);
          }
        }
      }
    }


      @media screen and (max-width: 1000px) {
        .l-col-4 h1 {
          font-size: 24px !important;
          line-height: 30px !important;
          padding-bottom: 0;
        }
      }
  }

  @include e('network') {
      background-image: url('../../icons/over-ons-rolls.svg');
      background-repeat: no-repeat;
      background-position: calc(50% + 130px) top;

      h4.c-post-single__category {
        margin: 0;
        display: inline-block;

        &::before {
          border-top-color: palette(blue, normal);
        }

        & + h4.c-post-single__category {
          margin-left: 26px;
        }
      }
  }
}
