.c-contact-forms {
  .e-heading--4 {
    margin: 0 0 14px;
  }

  .l-col-4 {
    padding: 0 20px 80px;
  }
}

@media screen and (max-width: 1000px) {
  .c-contact-forms {
    .l-col-4 {
      width: 47%;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
}

@media screen and (max-width: 740px) {
  .c-contact-forms {
    .l-col-4 {
      width: 100%;
      padding: 0 20px 40px;
    }
  }
}
