.c-rs-text {
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url($dist_path+'icons/over-ons-rolls.svg');
  background-repeat: no-repeat;
  background-position: top center;

  .l-container {
    display: flex;
    align-items: stretch;
  }

  h2 {
    font-family: $font-bold;
    font-weight: normal;
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  .e-button {
    padding-right: 40px;
  }

  .content-column {
    position: relative;
    padding-bottom: 42px;

    .e-button {
      position: absolute;
      bottom: 0;
      left: 20px;
    }

    &:nth-child(1) {
      color: #30089B;

      p {
        font-size: 19px;
        line-height: 25px;
      }
    }

    &:nth-child(2) {
      color: #A73486;

      .e-button.e-button--blue {
        color: #A73486;
        background-color: #F0F0F0;

        &:after {
          @include triangle( 58px, #A73486, down );
        }
      }
    }

    &:nth-child(3) {
      color: #CE437D;

      .e-button.e-button--blue {
        color: #CE437D;
        background-color: #F0F0F0;

        &:after {
          @include triangle( 58px, #CE437D, down );
        }
      }
    }
  }
}


@media screen and (max-width: 1000px) {

  .c-rs-text {

    .l-container {
      display: block;
    }

    .content-column {
      margin-bottom: 40px;

      &.one_half {
        width: 100%;
      }

      &.one_fourth {
        width: 50%;
      }
    }
  }
}

@media screen and (max-width: 740px) {
  .c-rs-text {

    h2 {
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 10px;
    }

    .content-column {
      width: 100%!important;
    }
  }
}
